
body{
    background-color: rgb(23, 56, 83);
}
.container{
    background-color:#4144E0 ;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}
h1{
    font-size: 4rem;
    color: orange;
    opacity: 0.85;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0 4px 4px 0;
}
h2{
    font-size: 2.8rem;
    color: #e6f205;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: justify;
    box-shadow: 0 2px 2px 0;

}
button{
    border-radius: 10%;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 20px;
}
#plybtn{
    background-color: red;
    border-radius: 12%;
    margin-top: 40px;
    width: 80px;
}
.flex{
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-content: baseline;
}
p,h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    color: #e6f205;
}
h3{
    color: orangered;
}